.first  {
    list-style: none;
    padding: 0;
}
.first li {
    padding: 10px 30px;
    background: linear-gradient(to left, white 70%, red, #f7f2f4);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    text-align: center;
}

.first li:nth-child(2n) {
    background: linear-gradient(#fcfcfc 20%, red, #fcfcfc);
}

.first li:last-child {
    background: linear-gradient(to right, white 70%, red, #f7f2f4);
}

.first li:last-child {border-bottom: none;}

.error404 {
    text-align: center
}

.error_wrapper {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    background: lightslategray;
    color: yellow;
}

