.time_field{
    background: yellow;
    width: 70px;
    border: 1px solid green;
}


.date_popup {
    width: 90px;
    height: 20px;
    margin-left: 90px;
    top:-20px;
    background: linen;
    position: relative;
    border-radius: 10px;
}
.date_popup:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 99%;
    top: 5px;
    border-top: 6px solid transparent;
    border-right: 24px solid linen;
    border-bottom: 6px solid transparent;
}

.popUp {
    width: 30px;
    height: 0px;
}


