.errorInput {
     width: 300px;
     font-size: 13px;
     padding: 6px 0 4px 10px;
     border: 1px solid #cecece;
     background: #F6F6f6;
     border-radius: 8px;
 }

.errClass {
  font-size: 15px;
  /* # Тень элемента. 0 - смещение Х, 4 - смещение Y*/
  /* 6 - степень размытия, #ccc - цвет */
  box-shadow: 0 4px 6px #ccc;
  letter-spacing: 1px;
    color: red;
    border-radius: 1px;
}

.error {
    color: red;
}

.superInput {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid green;
    background: #F6F6f6;
    border-radius: 8px;
    outline: none;
}
